.bt-bets {
    display: flex;
    justify-content: space-between;
    background-color: #ececec;
    position: relative;

    &__team {
        border-radius: 10px;
        width: 40%;
        min-width: 300px;
    }
    &__team-btn-wrap {
        font-size: 12px;
        color: $light-grey;
        display: flex;
        align-items: center;
        height: 60px;
        border-radius: 10px;
        margin-bottom: 10px;
        background-color: rgb(236, 236, 236);
        box-shadow: 0px 0px 15px 0px rgba(0, 0, 1, 0.13);
    }
    &__team-btn {
        width: 50%;
        min-width: 100px;
        height: 100%;
        font-size: 16px;
        color: #f1f1f1;
        display: flex;
        align-items: center;
        justify-content: center;
        align-self: stretch;
        border-radius: 10px;
        cursor: pointer;
        text-transform: uppercase;
        &--pink {
            background-color: $pink;
            margin-left: auto;
            &:hover {
                box-shadow: 0px 0px 15px 0px $pink;
            }
        }
        &--blue {
            background-color: $blue;
            margin-right: auto;
            &:hover {
                box-shadow: 0px 0px 15px 0px $blue;
            }
        }
    }
    &__team-people {
        display: flex;
        align-items: center;
        padding: 0 20px;
        img {
            margin-right: 9px;
        }
    }
    &__team-summ {
        display: flex;
        align-items: center;
        padding: 0 20px;
        img {
            margin-right: 9px;
        }
    }
    &__summ {
        border-radius: 10px;
        background-color: rgb(213, 213, 213);
        width: 120px;
        height: 60px;
        color: $grey;
        text-transform: uppercase;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 500;
        border: none;

        &:focus,
        &:active {
            outline: none;
        }
        &::placeholder {
            color: $light-grey;
        }
    }
}
.bt-bet {
    padding: 10px;
    // display: grid;
    // grid-template-columns: 12% 50% 25% 13%;
    display: flex;
    align-items: center;
    border-radius: 10px;
    background-color: rgb(236, 236, 236);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 1, 0.13);
    margin-bottom: 10px;
    justify-content: space-around;
    min-height: 63px;
    &__img {
        width: 43px;
        height: 43px;
        border-radius: 50%;
        border: 2px solid black;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__user-name {
        font-weight: 500;
        font-size: 12px;
        text-transform: uppercase;
        padding: 0 3%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    &__bet {
        font-weight: 500;
        font-size: 12px;
        display: flex;
        align-items: center;
        margin-left: auto;
        img {
            margin-right: 9px;
        }
    }
    &__win {
        font-weight: 500;
        font-size: 12px;
        display: flex;
        align-items: center;
        margin-left: 10px;
        img {
            margin-right: 9px;
        }
    }
}
@media (max-width: 1570px) {
    .bt-bets {
        flex-wrap: wrap;
        &__team-summ-wrapper {
            display: flex;
            justify-content: center;
            order: -1;
            width: 100%;
            margin-bottom: 10px;
        }
        &__summ {
            width: 381px;
        }
    }
}
@media (max-width: 1420px) {
    .bt-bets {
        &__team {
            min-width: 250px;
            margin: 0 5px;
            flex-grow: 1;
        }
        &__team-people {
            display: none;
        }
    }
    .bt-bet {
        &__user-avatar {
            display: none;
        }
    }
}

@media (max-width: 1250px) {
    .bt-bets {
        flex-wrap: nowrap;
        &__team-summ-wrapper {
            display: block;
            order: 0;
            width: auto;
            margin-bottom: 0;
        }
        &__summ {
            width: 120px;
        }
        &__team {
            min-width: 300px;
            margin: 0;
            flex-grow: 0;
        }
        &__team-people {
            display: flex;
        }
    }
    .bt-bet {
        &__user-avatar {
            display: block;
        }
    }
}
@media (max-width: 850px) {
    .bt-bets {
        flex-wrap: wrap;
        &__team-summ-wrapper {
            display: flex;
            justify-content: center;
            order: -1;
            width: 100%;
            margin-bottom: 10px;
        }
        &__summ {
            width: 381px;
        }
    }
}
@media (max-width: 700px) {
    .bt-bets {
        &__team {
            min-width: 200px;
            margin: 0 5px;
            flex-grow: 1;
        }
        &__team-people {
            display: none;
        }
    }
    .bt-bet {
        &__user-avatar {
            display: none;
        }
    }
}
@media (max-width: 650px) {
    .bt-bets {
        &__team-summ {
            display: none;
        }
        &__team-btn {
            width: 100%;
        }
        &__summ {
            width: 270px;
        }
    }
    .bt-bet {
        &__win {
            display: none;
        }
    }
}
@media (max-width: 500px) {
    .bt-bets {
        &__team {
            min-width: 162px;
        }
    }
    .bt-bet {
        height: 40px;
        min-height: 40px;
        &__bet {
            img {
                display: none;
            }
        }
    }
}
@media (max-width: 430px) {
    .bt-bets {
        &__summ {
            width: 200px;
            height: 40px;
        }
        &__team-btn-wrap {
            height: 40px;
        }
    }
}
