.bt-questions {
}
.bt-question {
    margin-bottom: 30px;
    &__header {
        color: $grey;
        font-size: 12px;
        line-height: 24px;
        margin-bottom: 19px;
    }
    &__answer {
        color: $light-grey;
        font-size: 12px;
        line-height: 24px;
    }
}
