.bt-games {
    &__header {
        display: flex;
        justify-content: space-between;
    }
    &__info {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    &__hash {
        font-size: 12px;
        text-transform: uppercase;
        color: $light-grey;
        margin-bottom: 23px;
    }
    &__bank {
        font-size: 12px;

        color: $light-grey;
    }
}
@media (max-width: 1420px) {
    .bt-games {
        &__header {
            flex-direction: column;
            align-items: center;
        }
        &__bank {
            display: none;
        }
        &__info {
            margin-top: -27px;
        }
    }
}
@media (max-width: 430px) {
    .bt-games {
        &__header {
            margin-bottom: 5px;
        }
        .bt-section-header {
            margin-bottom: 33px;
        }
        .bt-section-header__up-text {
            margin-bottom: 4px;
        }
        &__hash {
            margin-bottom: 0;
        }
    }
}
